.usersInProject {
  background-color: #24282b;
  border-radius: 25px;
  color: white;
  margin-bottom: 10px;
}
.usersHeader {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #1f2224;
  padding: 10px;
}
.user {
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
  background-color: #1f2224;
}

.addUserBtn {
  border-radius: 25px;
  cursor: pointer;
}
.addUserBtn:hover {
  background-color: #1f2224;
}
