.UsersMoal{
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 640px;
    height: 500px;
    background-color: #191b1d;
    color: white;
    border-radius: 50px;
}
.userFromList{
    position: relative;
    
}