.UsersMoal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 380px;
  height: 500px;
  background-color: #191b1d;
  color: white;
  border-radius: 50px;
  padding: 15px;
}
.usersModalHeader {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: bold;
}
.usersModalSearchInput {
  font-size: 20px;
  background-color: #24282b;
  color: white;
  margin-bottom: 20px;
  border-radius: 25px;
  border: 0;
  padding: 11px;
}
.userFromList {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1f2224;
  border-radius: 20px;
}
.userFromList:hover {
  background-color: #292d30;
  cursor: pointer;
}

.usersBackground {
  background-color: #24282b;
  height: 280px;
  border-radius: 25px;
}
.scroll {
  height: 275px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background-color: #22aeff;
}
