.login {
  background-color: #191b1d;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 520px;
  height: 350px;
  border-radius: 35px;
  padding: 25px;
}
.loginInput {
  font-size: 22px;
  color: white;
  background-color: #191b1d;
  border-color: #191b1d;
  margin-bottom: 25px;
  border-radius: 25px;
  border: 0;
  text-align: center;
  outline: none !important;
  border-bottom: 2px solid #222427;
}
.loginInput:focus {
  border-bottom: 1px solid #16a3db;
}
.loginTittle {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.login-btn {
  margin: 15px 0px;
}
.error {
  color: red;
}
.demo {
  color: #16a3db;
  text-decoration: underline;
  cursor: pointer;
}
