.ticketModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 640px;
  height: 500px;
  background-color: #191b1d;
  color: white;
  border-radius: 50px;
}

.ticketModalContent {
  position: relative;
}

.ticketModalName {
  font-size: 28px;
  font-weight: bold;
}
.ticketModalDescription {
  margin: 15px;
  border-radius: 25px;
}
.detailsHeader {
  font-size: 18px;
  margin-top: 20px;
}
.ticketModalCreatedBy {
  background-color: #1f2224;
  padding: 10px;
  border-radius: 25px;
  margin: 0px 15px 15px 15px;
}
.createdByHeader {
  font-size: 18px;
  margin: 15px;
}
.ticketModalAssignedTo {
  padding: 10px;
  background-color: #00a3ff;
  border-radius: 25px;
  margin: 0px 15px 15px 15px;
}

.assignedToHeader {
  font-size: 18px;
  margin-bottom: 5px;
  margin: 15px;
}
.ticketModalPriority {
  padding: 10px;
  background-color: #00b552;
  border-radius: 25px;
  margin: 0px 15px 15px 15px;
}
.priorityHeader {
  font-size: 18px;
  margin-bottom: 5px;
  margin: 15px;
}
.deleteTicketBtn {
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ff5e62;
  border: 0;
  border-radius: 25px;
  color: white;
}
.doneTicketBtn {
  margin: 20px 0px 0px 30px;
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  background-color: #00a3ff;
  border: 0;
  border-radius: 25px;
  color: white;
}
